.TituloValidacao{
    text-align: center;
    color:#4AA8F5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size:28px;
    margin-top: 195px;
    margin-bottom: 85px;
}

.Titulovalidacao1{
    text-align: left;
    padding-left: 2%;
    color:#363636;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size:18px;
}

.BotaoValidar{
    color:white;
    background: #4AA8F5;
    border: #4AA8F5;
    width: 50%;   
    border-radius: 50px;
    height: 50px;
    font-weight: 600;
    
    margin-bottom:20px;
}

.BotaoValidar:active{
    background:rgb(44,132,204);
}

.corTextPass .link{
    color:#908f8f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: underline;
    font-size: 12px;
    margin-bottom: 15px;
    
}

.Pedidos{
    text-align:center; 
    color:#acacac;
    font-size:14px;
    margin-top:40px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}