
 <div class="row" align="center">
<!-- <div class="col-lg-4 d-none d-lg-block">
        asds
</div>

<div class="col-lg-4" align="center">
                <dx-text-box mode="password"  [(ngModel)]="passwordText" placeholder="Password">
                        </dx-text-box>
</div>
<div class="col-lg-4 d-none d-lg-block">
        qwerty
</div> -->

        <div class="col-lg-4 col-2">
                
        </div>

        <div class="col-lg-4 col-8" align="center">
                        <label class="TituloValidacao">Definir palavra-passe</label>
                        <div class="Titulovalidacao1">
                                <label >Validar registo de utilizador</label>
                        </div>
                        <dx-text-box style="margin-bottom:15px;" mode="password"  [(ngModel)]="passwordText" placeholder="Password">
                        </dx-text-box>
                        <dx-text-box style="margin-bottom:35px;" mode="password"  [(ngModel)]="ComfirmarPassword" placeholder="Confirmar Password">
                        </dx-text-box>
                        <div style="margin-bottom:95px;">
                                        <ng2-password-strength-bar 
                                        [passwordToCheck]="passwordText"
                                        [barLabel]="barLabel" style="color:#acacac;font-family:'Montserrat', sans-serif;font-weight:400;font-size:18px;">
                                        </ng2-password-strength-bar>
                        </div>
                       

                        <div style="margin-bottom:60px;">
                                        <!-- <re-captcha tabindex="" 
                                        site_key="<6Lej0DgUAAAAAA-gkmwxjsoE5Biq9gTwZQlGd8Jk>" theme="" type="audio" size="normal" ></re-captcha> -->
                                                <re-captcha (resolved)="resolved($event)" siteKey="6Lej0DgUAAAAAA-gkmwxjsoE5Biq9gTwZQlGd8Jk"></re-captcha>
                        </div>
                       
                        
                        <dx-button
                                icon=""
                                class="BotaoValidar"
                                text="Validar"
                                (onClick)="ValidarPassword()"  >  </dx-button> 
                       <div class="corTextPass">
                        <a class="link" routerLink="/login" >Ir para ao Portal Web</a>
                       </div>
<!-- 
                       <div class="Pedidos"  [hidden]="sucesso">
                                <img width="" height="" src="../../assets/Imagens/aceite.png" /> 
                                <label for="">O processo de registo de utilizador está concluído. Já pode efetuar login no Portal PROTêxtil.</label>
                        </div>
                        <div class="Pedidos"  [hidden]="naoSucesso">
                                <img width="" height="" src="../../assets/Imagens/naoaceite.png" />  
                                <label for="">O código de registo parece estar errado. Por favor contacte o administrador do Portal PROTêxtil para atribuição de novo registo.</label>
                         </div>
                         <div class="Pedidos"  [hidden]="naoSucesso">
                                <img width="" height="" src="../../assets/Imagens/naoaceite.png" />  
                                <label for="">As password's não corresponde.</label>
                        </div> -->
                              
        </div>
        <div class="col-lg-4 col-2">
                
        </div>
 </div> 

<!-- <div class="row">
        <div class="col-md-12 TituloValidacao">
              
        </div>
</div>
<div  align="center">
        <div class="col-md-12"  style="text-align:left; margin-bottom:20px;">
                <label>Validar registo de utilizador</label>
        </div>
</div>

<div align="center" style=" margin-bottom:15px;">
        <div class="col-md-3"  >
                <dx-text-box mode="password"  [(ngModel)]="passwordText" placeholder="Password">
                </dx-text-box>
        </div>
</div>
<div  align="center" style=" margin-bottom:35px;"   >
        <div class="col-md-3">
               
        </div>
</div>
       
<div align="center" style=" margin-bottom:95px;" >
         <div class="col-md-3" >
                <ng2-password-strength-bar
                [passwordToCheck]="passwordText"
                [barLabel]="barLabel">
                </ng2-password-strength-bar>
        </div>   
 </div>
        
<div  align="center" style=" margin-bottom:60px;">
        <div class="col-md-3" >
                <re-captcha tabindex="" 
                site_key="<6Lej0DgUAAAAAA-gkmwxjsoE5Biq9gTwZQlGd8Jk>" theme="" type="audio" size="normal" ></re-captcha>
        </div> 
</div>
        
 <div  align="center" style=" margin-bottom:20px;">
        <div class="col-md-3" >
                <dx-button
                icon=""
                class="BotaoEntrar"
                text="Validar Password"
                (onClick)="ValidarPassword()"  >  </dx-button> 
                </div>
        
         <a class="corTextPass" routerLink="/login" >Ir para ao Portal Web</a>
        
</div> -->

