<!-- <div class="ContainerCredenciais"> -->
<!-- <div class="container"> -->
<!-- <div class="row contentor" align="center"> -->
<div class="container">
<div class="row " align="center">
        <!-- <div class="col-lg-4 d-none d-lg-block FundoImagem ladoEsquerdo" style="background-image: url(./assets/Imagens/credenciais.jpg);background-position:left">

                        </div> -->
        <div class="col-lg-4 col-md-2 col-sm-1 col-1 d-block">

        </div>
        <div class="col-lg-4 col-md-8 col-sm-10 col-10">
                <div class="form">
                        <div class="TituloCredenciais">
                                <label for=""> Pedido de Credenciais</label>
                        </div>

                        <div class="row">
                                <div class="col-md-12">
                                        <div class="row">
                                                <div class="col-md-12 col-12 MargimBottom TituloCredenciais1">
                                                        <label for="">Dados do utilizador</label>
                                                </div>
                                                <div class="col-md-6 MargimBottomTextBox">
                                                        <dx-text-box class="TamanhoCaixo" [(ngModel)]="PrimeiroNomeText" placeholder="Primerio Nome"></dx-text-box>
                                                </div>
                                                <div class="col-md-6 MargimBottomTextBox ">
                                                        <dx-text-box class="TamanhoCaixo" [(ngModel)]="UltimoNomeNomeText" placeholder="Último Nome"></dx-text-box>
                                                </div>
                                                <div class="col-md-6 MargimBottomTextBox">
                                                        <dx-text-box class="TamanhoCaixo" [(ngModel)]="UtilizadorText" placeholder="Utilizador"></dx-text-box>
                                                </div>
                                                <div class="col-md-6 MargimBottomTextBox">
                                                        <dx-select-box class="TamanhoCaixo" [dataSource]="DsGrupoUtilizador" displayExpr="grupoText" valueExpr="grupoValue" [(ngModel)]="grupoValue"
                                                                placeholder="Grupo de Utilizador"></dx-select-box>
                                                </div>
                                        </div>
                                        <!-- <div class="row"> -->
                                        <!-- <div class="col-md-12"> -->
                                        <div class="row">
                                                <div class="col-md-12 MargimBottom TituloCredenciais1 margimtop">
                                                        <label for="">Dados da entidade</label>
                                                </div>
                                                <div class="col-md-6 MargimBottomTextBox">
                                                        <dx-text-box class="TamanhoCaixo" [(ngModel)]="emailText" placeholder="Email"></dx-text-box>
                                                </div>
                                                <div class="col-md-6 MargimBottomTextBox">
                                                        <dx-text-box class="TamanhoCaixo" [(ngModel)]="NomeEmpresaText" placeholder="Nome Empresa"></dx-text-box>
                                                </div>
                                                <div class="col-md-6 MargimBottomTextBox">
                                                        <dx-text-area class="TamanhoCaixo" [(ngModel)]="obsText" placeholder="Observações"></dx-text-area>
                                                </div>
                                                <!-- <div class="col-md-6" align="center">
                                                                                                <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" tabindex="" 
                                                                                                site_key="<6Lej0DgUAAAAAA-gkmwxjsoE5Biq9gTwZQlGd8Jk>" theme="" type="audio" size="normal" ></re-captcha>
                                                                                </div> -->
                                        </div>
                                        <!-- </div> -->
                                        <!-- </div> -->
                                        <div class="row">
                                                <div class="col-md-12 MargimTopCap" align="center">
                                                        <!-- <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" tabindex="" site_key="<6Lej0DgUAAAAAA-gkmwxjsoE5Biq9gTwZQlGd8Jk>"
                                                                                theme="" type="audio" size="normal"></re-captcha> -->
                                                        <re-captcha (resolved)="resolved($event)" siteKey="6Lej0DgUAAAAAA-gkmwxjsoE5Biq9gTwZQlGd8Jk"></re-captcha>
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-3"></div>
                                                <div class="col-md-6" >

                                                        <dx-button icon="" class="BotaoEntrar" text="Pedir" (onClick)="Entrar()"> </dx-button>

                                                        <div align="center" style="margin-bottom:10%;margin-top:3%">
                                                                <a class="corTextPass" routerLink="/login">Regressar ao Portal Web</a>
                                                        </div>

                                                </div>
                                                <div class="col-md-3"></div>
                                        </div>
                                        <!-- <div class="row">
                                                                <div class="col-md-12 Pedidos" [hidden]="sucesso">
                                                                        <img width="" height="" src="./assets/Imagens/aceite.png" />
                                                                        <label for="">O pedido foi aceite</label>
                                                                </div>
                                                                <div class="col-md-12 Pedidos" [hidden]="naoSucesso">
                                                                        <img width="" height="" src="./assets/Imagens/naoaceite.png" />
                                                                        <label for=""> O pedido não foi aceite</label>
                                                                </div>
                                                        </div> -->
                                </div>
                        </div>
                </div>
        </div>

        <div class="col-lg-4 col-md-2 col-sm-1 col-1 d-block">

        </div>
</div>
</div>
        <!-- </div> -->
        <!-- </div> -->