.TituloPassword{
    text-align: center;
    color:#4AA8F5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size:28px;
    margin-top: 20%;
    margin-bottom: 10%;
}

/* .Titulovalidacao1{
    text-align: left;
    padding-left: 2%;
    color:#363636;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size:18px;
} */

.BotaoValidar{
    color:white;
    background: #4AA8F5;
    border: #4AA8F5;
    width: 100%;   
    border-radius: 50px;
    height: 50px;
    font-weight: 600;
    
    margin-bottom:3%;
}
.ResetTextbox{
    margin-bottom:20px; height:50px;
}
.BotaoValidar:active{
    background:rgb(44,132,204);
}
.corTextPass .link{
    color:#908f8f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: underline;
    font-size: 12px;
    margin-bottom: 15px;
    

}
.corTextPass{
    margin-bottom: 10%;
}

.Pedidos{
    text-align:center; 
    color:#acacac;
    font-size:14px;
    margin-top:40px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

/*@media only screen and (max-width: 769px, min-width:) {

    .PaddingTextbox{
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media only screen and (max-width: 769px) {
    
        .PaddingTextbox{
            padding-left: 2%;
            padding-right: 2%;
        }
    }*/